@import 'tailwindcss';

@theme {
  /* Colores institucionales */
  --color-primary: #0b1f2d;
  --color-secondary: #1ec8c8;
  --color-accent: #f5a623;
  --color-surface: #1c5076;
}

@layer base {
  body {
    @apply bg-white font-sans text-neutral-800 antialiased;
  }
}
